CONFIG_RECIPE:=sway

GIT_L_scdoc_scdoc:=4af1e1e
GIT_L_libdrm_libdrm:=libdrm-2.4.112
GIT_L_wayland_wayland:=1.21.0
GIT_L_wayland-protocols_wayland-protocols:=1.26
GIT_L_vulkan_vulkan-headers:=v1.3.220
GIT_L_vulkan_vulkan-loader:=v1.3.220
GIT_L_vulkan_glslang:=11.10.0
GIT_L_mesa_mesa:=mesa-22.1.3
GIT_L_xorgproto_xorgproto:=xorgproto-2022.1
GIT_L_libxcvt_libxcvt:=libxcvt-0.1.1
GIT_L_libepoxy_libepoxy:=1.5.9
GIT_L_libevdev_libevdev:=libevdev-1.12.1
GIT_L_libinput_libinput:=1.21.0
GIT_L_pixman_pixman:=285b9a9
GIT_L_xwayland_xwayland:=xwayland-22.1.3
GIT_L_libxkbcommon_libxkbcommon:=xkbcommon-1.4.1
GIT_L_libseat_libseat:=0.7.0
GIT_L_wlroots_wlroots:=0.15.1
GIT_L_json-c_json-c-headers:=d28ac67
GIT_L_sway_sway:=1.7
GIT_L_libva_libva:=2.14.0
GIT_L_ffmpeg_ffmpeg:=846488cca8
GIT_L_swaylock-effects_swaylock-effects:=v1.6-3
GIT_L_swayidle_swayidle:=36a474a
GIT_L_swaybg_swaybg:=c960898
GIT_L_kanshi_kanshi:=0faad75
GIT_L_mako_mako:=v1.7.1
GIT_L_grim_grim:=47e2658
GIT_L_slurp_slurp:=f4e7559
GIT_L_wl-clipboard_wl-clipboard:=v2.1.0-1-g89cd9f9
GIT_L_swappy_swappy:=0355760
GIT_L_pipewire_pipewire:=0.3.48
GIT_L_libfuse_libfuse:=7657ec1
GIT_L_gtk-layer-shell_gtk-layer-shell:=5a3a828
GIT_L_libportal_libportal:=a715724
GIT_L_xdg-desktop-portal_xdg-desktop-portal:=0b6909f
GIT_L_libinih_libinih:=r53
GIT_L_xdg-desktop-portal-wlr_portal-wlr:=1cc5ff5
GIT_L_waybar_waybar:=0.9.13
GIT_L_wshowkeys_wshowkeys:=e8bfc78
GIT_L_wf-recorder_wf-recorder:=v0.3.0-1-gbf161b4
GIT_L_mupdf_mupdf:=1.19.0
GIT_L_zathura_zathura:=0.4.9
GIT_L_zathura_zathura-plugin-mupdf:=0.3.8
GIT_L_zathura_zathura-plugin-poppler:=0.3.0
GIT_L_wlsunset_wlsunset:=cee422b
GIT_L_imv_imv:=4448fb6
GIT_L_light_light:=c5fb454
GIT_L_cxxopts_cxxopts:=v3.0.0
GIT_L_pamixer_pamixer:=1.6-1-gc9abe89
GIT_L_avizo_avizo:=1.2
