CONFIG_RECIPE:=sway
GIT_L_scdoc_scdoc:=1.11.1
GIT_L_wayland_wayland:=1.18.0-43-gdad8575
GIT_L_wayland-protocols_wayland-protocols:=1.20-6-g4ed0caf
GIT_L_xwayland_xwayland:=xorg-server-1.20.10
GIT_L_wlroots_wlroots:=0.12.0
GIT_L_sway_sway:=1.5.1
GIT_L_swaylock_swaylock:=1.5-9-g235b925
GIT_L_swayidle_swayidle:=1.6-14-g0689427
GIT_L_swaybg_swaybg:=1.0-2-ga8f109a
GIT_L_waybar_waybar:=0.9.4-102-gf91dc7f
GIT_L_mako_mako:=v1.4.1-52-g08d6f60
GIT_L_xdg-desktop-portal-wlr_portal-wlr:=v0.1.0-28-g727f13f
GIT_L_wl-clipboard_wl-clipboard:=v2.0.0-3-gaa4633b
GIT_L_rofi_rofi:=1.6.1
GIT_L_redshift_redshift:=v2.0.6-2-g9ca5985
GIT_L_kanshi_kanshi:=v1.1.0-8-gf88ba3a
GIT_L_grim_grim:=v1.3.1-2-g2c15b09
GIT_L_slurp_slurp:=v1.3.1-1-gbfff873
GIT_L_imv_imv:=v4.2.0
GIT_L_swaylock-effects_swaylock-effects:=v1.6-3-7-g744a59b
GIT_L_wob_wob:=0.10-12-g22a866e
GIT_L_wshowkeys_wshowkeys:=6388a49
GIT_L_vte-ng_vte-ng:=0.50.2.a
GIT_L_termite_termite:=v15-5-g9565563
GIT_L_wf-recorder_wf-recorder:=v0.2.1-33-g620822f
GIT_L_avizo_avizo:=1.0

